## Base16 EverForest
# Author: sainnhe
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2b3339
set $base01 #323c41
set $base02 #3a4248
set $base03 #868d80
set $base04 #a59572
set $base05 #d3c6aa
set $base06 #e9e8d2
set $base07 #fff9e8
set $base08 #e67e80
set $base09 #e69875
set $base0A #dbbc7f
set $base0B #a7c080
set $base0C #83c092
set $base0D #7fbbb3
set $base0E #d699b6
set $base0F #d699b6
