## Base16 Hopscotch
# Author: Jan T. Sott
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #322931
set $base01 #433b42
set $base02 #5c545b
set $base03 #797379
set $base04 #989498
set $base05 #b9b5b8
set $base06 #d5d3d5
set $base07 #ffffff
set $base08 #dd464c
set $base09 #fd8b19
set $base0A #fdcc59
set $base0B #8fc13e
set $base0C #149b93
set $base0D #1290bf
set $base0E #c85e7c
set $base0F #b33508
