## Base16 Cupertino
# Author: Defman21
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #ffffff
set $base01 #c0c0c0
set $base02 #c0c0c0
set $base03 #808080
set $base04 #808080
set $base05 #404040
set $base06 #404040
set $base07 #5e5e5e
set $base08 #c41a15
set $base09 #eb8500
set $base0A #826b28
set $base0B #007400
set $base0C #318495
set $base0D #0000ff
set $base0E #a90d91
set $base0F #826b28
