## Base16 X
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #050505
set $base01 #161616
set $base02 #222123
set $base03 #6b686e
set $base04 #8a878e
set $base05 #f7f1ff
set $base06 #f9f4ff
set $base07 #f7f1ff
set $base08 #fc618d
set $base09 #fca37a
set $base0A #fce566
set $base0B #7bd88f
set $base0C #5ad4e6
set $base0D #fd9353
set $base0E #948ae3
set $base0F #a66c51
