## Base16 Yesterday Night
# Scheme author: FroZnShiva (https://github.com/FroZnShiva)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #343d46
set $base01 #4f5b66
set $base02 #65737e
set $base03 #a7adba
set $base04 #c0c5ce
set $base05 #dfe1e8
set $base06 #eff1f5
set $base07 #ffffff
set $base08 #cc6666
set $base09 #de935f
set $base0A #f0c674
set $base0B #b5bd68
set $base0C #8abeb7
set $base0D #81a2be
set $base0E #b294bb
set $base0F #a3685a
