## Base16 Cacao
# Scheme author: Teshre
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #160f0c
set $base01 #241913
set $base02 #3a281e
set $base03 #766052
set $base04 #af9b8b
set $base05 #e8d6c4
set $base06 #eedecd
set $base07 #f4e6d6
set $base08 #e0705c
set $base09 #c77b4a
set $base0A #e8a84a
set $base0B #9ac97a
set $base0C #74c8b0
set $base0D #a89ad0
set $base0E #ce8ab0
set $base0F #4e382a
