## Base16 OneDark Dark
# Scheme author: olimorris (https://github.com/olimorris)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #1c1f24
set $base02 #2c313a
set $base03 #434852
set $base04 #565c64
set $base05 #abb2bf
set $base06 #b6bdca
set $base07 #c8ccd4
set $base08 #ef596f
set $base09 #d19a66
set $base0A #e5c07b
set $base0B #89ca78
set $base0C #2bbac5
set $base0D #61afef
set $base0E #d55fde
set $base0F #be5046
