## Base16 Github
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #eaeef2
set $base01 #d0d7de
set $base02 #afb8c1
set $base03 #8c959f
set $base04 #6e7781
set $base05 #424a53
set $base06 #32383f
set $base07 #1f2328
set $base08 #fa4549
set $base09 #e16f24
set $base0A #bf8700
set $base0B #2da44e
set $base0C #339d9b
set $base0D #218bff
set $base0E #a475f9
set $base0F #4d2d00
