## Base16 Catppuccin
# Author: Pocco81 (https://github.com/pocco81)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1e1e28
set $base01 #1a1826
set $base02 #302d41
set $base03 #575268
set $base04 #6e6c7c
set $base05 #d7dae0
set $base06 #f5e0dc
set $base07 #c9cbff
set $base08 #f28fad
set $base09 #f8bd96
set $base0A #fae3b0
set $base0B #abe9b3
set $base0C #b5e8e0
set $base0D #96cdfb
set $base0E #ddb6f2
set $base0F #f2cdcd
