## Base16 Railscasts
# Author: Ryan Bates (http://railscasts.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2b2b2b
set $base01 #272935
set $base02 #3a4055
set $base03 #5a647e
set $base04 #d4cfc9
set $base05 #e6e1dc
set $base06 #f4f1ed
set $base07 #f9f7f3
set $base08 #da4939
set $base09 #cc7833
set $base0A #ffc66d
set $base0B #a5c261
set $base0C #519f50
set $base0D #6d9cbe
set $base0E #b6b3eb
set $base0F #bc9458
