## Base16 vice
# Author: Thomas Leon Highbaugh thighbaugh@zoho.com
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #17191e
set $base01 #22262d
set $base02 #3c3f4c
set $base03 #383a47
set $base04 #555e70
set $base05 #8b9cbe
set $base06 #b2bfd9
set $base07 #f4f4f7
set $base08 #ff29a8
set $base09 #85ffe0
set $base0A #f0ffaa
set $base0B #0badff
set $base0C #8265ff
set $base0D #00eaff
set $base0E #00f6d9
set $base0F #ff3d81
