## Base16 pinky
# Author: Benjamin (https://github.com/b3nj5m1n)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #171517
set $base01 #1b181b
set $base02 #1d1b1d
set $base03 #383338
set $base04 #e7dbdb
set $base05 #f5f5f5
set $base06 #ffffff
set $base07 #f7f3f7
set $base08 #ffa600
set $base09 #00ff66
set $base0A #20df6c
set $base0B #ff0066
set $base0C #6600ff
set $base0D #00ffff
set $base0E #007fff
set $base0F #df206c
