## Base16 Neovim Dark
# Scheme author: https://github.com/neovim/neovim/blob/master/src/nvim/highlight_group.c
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #14161b
set $base01 #07080d
set $base02 #4f5258
set $base03 #9b9ea4
set $base04 #c4c6cd
set $base05 #e0e2ea
set $base06 #eef1f8
set $base07 #eef1f8
set $base08 #ffc0b9
set $base09 #ffa500
set $base0A #fce094
set $base0B #b3f6c0
set $base0C #8cf8f7
set $base0D #a6dbff
set $base0E #ffcaff
set $base0F #cd853f
