## Base16 Twilight
# Author: David Hart (https://github.com/hartbit)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1e1e1e
set $base01 #323537
set $base02 #464b50
set $base03 #5f5a60
set $base04 #838184
set $base05 #a7a7a7
set $base06 #c3c3c3
set $base07 #ffffff
set $base08 #cf6a4c
set $base09 #cda869
set $base0A #f9ee98
set $base0B #8f9d6a
set $base0C #afc4db
set $base0D #7587a6
set $base0E #9b859d
set $base0F #9b703f
