## Base16 Darcula
# Author: jetbrains
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2b2b2b
set $base01 #323232
set $base02 #323232
set $base03 #606366
set $base04 #a4a3a3
set $base05 #a9b7c6
set $base06 #ffc66d
set $base07 #ffffff
set $base08 #4eade5
set $base09 #689757
set $base0A #bbb529
set $base0B #6a8759
set $base0C #629755
set $base0D #9876aa
set $base0E #cc7832
set $base0F #808080
