## Base16 selenized-black
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #181818
set $base01 #252525
set $base02 #3b3b3b
set $base03 #777777
set $base04 #777777
set $base05 #b9b9b9
set $base06 #dedede
set $base07 #dedede
set $base08 #ed4a46
set $base09 #e67f43
set $base0A #dbb32d
set $base0B #70b433
set $base0C #3fc5b7
set $base0D #368aeb
set $base0E #a580e2
set $base0F #eb6eb7
