## Base16 Atelier Seaside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f4fbf4
set $base01 #cfe8cf
set $base02 #8ca68c
set $base03 #809980
set $base04 #687d68
set $base05 #5e6e5e
set $base06 #242924
set $base07 #131513
set $base08 #e6193c
set $base09 #87711d
set $base0A #98981b
set $base0B #29a329
set $base0C #1999b3
set $base0D #3d62f5
set $base0E #ad2bee
set $base0F #e619c3
