## Base16 Hardcore
# Author: Chris Caller
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #212121
set $base01 #303030
set $base02 #353535
set $base03 #4a4a4a
set $base04 #707070
set $base05 #cdcdcd
set $base06 #e5e5e5
set $base07 #ffffff
set $base08 #f92672
set $base09 #fd971f
set $base0A #e6db74
set $base0B #a6e22e
set $base0C #708387
set $base0D #66d9ef
set $base0E #9e6ffe
set $base0F #e8b882
