## Base16 Tokyodark
# Scheme author: Jamy Golden (https://github.com/JamyGolden), Based on Tokyodark.nvim (https://github.com/tiagovla/tokyodark.nvim)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #11121d
set $base01 #212234
set $base02 #212234
set $base03 #353945
set $base04 #4a5057
set $base05 #a0a8cd
set $base06 #abb2bf
set $base07 #bcc2dc
set $base08 #ee6d85
set $base09 #f6955b
set $base0A #d7a65f
set $base0B #95c561
set $base0C #9fbbf3
set $base0D #7199ee
set $base0E #a485dd
set $base0F #773440
