## Base16 Embers Light
# Scheme author: Jannik Siebert (https://github.com/janniks)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #d1d6db
set $base01 #aeb6be
set $base02 #909aa3
set $base03 #75808a
set $base04 #47505a
set $base05 #323b43
set $base06 #20262c
set $base07 #0f1316
set $base08 #576d82
set $base09 #578282
set $base0A #57826d
set $base0B #6d8257
set $base0C #826d57
set $base0D #82576d
set $base0E #6d5782
set $base0F #575782
