## Base16 Codeschool
# Author: blockloop
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #232c31
set $base01 #1c3657
set $base02 #2a343a
set $base03 #3f4944
set $base04 #84898c
set $base05 #9ea7a6
set $base06 #a7cfa3
set $base07 #b5d8f6
set $base08 #2a5491
set $base09 #43820d
set $base0A #a03b1e
set $base0B #237986
set $base0C #b02f30
set $base0D #484d79
set $base0E #c59820
set $base0F #c98344
