## Base16 Gruvbox light, hard
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f9f5d7
set $base01 #ebdbb2
set $base02 #d5c4a1
set $base03 #bdae93
set $base04 #665c54
set $base05 #504945
set $base06 #3c3836
set $base07 #282828
set $base08 #9d0006
set $base09 #af3a03
set $base0A #b57614
set $base0B #79740e
set $base0C #427b58
set $base0D #076678
set $base0E #8f3f71
set $base0F #d65d0e
