## Base16 Rosé Pine Moon
# Scheme author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #232136
set $base01 #2a273f
set $base02 #393552
set $base03 #6e6a86
set $base04 #908caa
set $base05 #e0def4
set $base06 #e0def4
set $base07 #56526e
set $base08 #eb6f92
set $base09 #f6c177
set $base0A #ea9a97
set $base0B #3e8fb0
set $base0C #9ccfd8
set $base0D #c4a7e7
set $base0E #f6c177
set $base0F #56526e
