## Base16 Sequoia Moonlight Light
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #edeef2
set $base01 #e2e3e8
set $base02 #e2e3e8
set $base03 #565760
set $base04 #42434e
set $base05 #282930
set $base06 #282930
set $base07 #0f1014
set $base08 #c94da8
set $base09 #c94da8
set $base0A #6a6a78
set $base0B #4a85d4
set $base0C #d9884a
set $base0D #9a5fd9
set $base0E #6a6a78
set $base0F #4a85d4
