## Base16 Ayu Light
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fafafa
set $base01 #f3f4f5
set $base02 #f8f9fa
set $base03 #abb0b6
set $base04 #828c99
set $base05 #5c6773
set $base06 #242936
set $base07 #1a1f29
set $base08 #f07178
set $base09 #fa8d3e
set $base0A #f2ae49
set $base0B #86b300
set $base0C #4cbf99
set $base0D #36a3d9
set $base0E #a37acc
set $base0F #e6ba7e
