## Base16 Silk Light
# Author: Gabriel Fontes (https://github.com/Misterio77)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #e9f1ef
set $base01 #ccd4d3
set $base02 #90b7b6
set $base03 #5c787b
set $base04 #4b5b5f
set $base05 #385156
set $base06 #0e3c46
set $base07 #d2faff
set $base08 #cf432e
set $base09 #d27f46
set $base0A #cfad25
set $base0B #6ca38c
set $base0C #329ca2
set $base0D #39aac9
set $base0E #6e6582
set $base0F #865369
