## Base16 dirtysea
# Scheme author: Kahlil (Kal) Hodgson
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #e0e0e0
set $base01 #d0dad0
set $base02 #d0d0d0
set $base03 #707070
set $base04 #202020
set $base05 #000000
set $base06 #f8f8f8
set $base07 #c4d9c4
set $base08 #840000
set $base09 #006565
set $base0A #755b00
set $base0B #730073
set $base0C #755b00
set $base0D #007300
set $base0E #000090
set $base0F #755b00
