## Base16 Deep Oceanic Next
# Scheme author: spearkkk (https://github.com/spearkkk)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #001c1f
set $base01 #002931
set $base02 #003640
set $base03 #004852
set $base04 #0093a3
set $base05 #d4e1e8
set $base06 #e0e9ef
set $base07 #f2f7f9
set $base08 #d3464d
set $base09 #e37552
set $base0A #f3b863
set $base0B #63b784
set $base0C #4fb7ae
set $base0D #568ccf
set $base0E #8b66d6
set $base0F #d0658e
