## Base16 Terracotta Dark
# Scheme author: Alexander Rossell Hayes (https://github.com/rossellhayes)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #241d1a
set $base01 #362b27
set $base02 #473933
set $base03 #594740
set $base04 #a78e84
set $base05 #b8a59d
set $base06 #cabbb5
set $base07 #dcd2ce
set $base08 #f6998f
set $base09 #ffa888
set $base0A #ffc37a
set $base0B #b6c68a
set $base0C #c0bcdb
set $base0D #b0a4c3
set $base0E #d8a2b0
set $base0F #f1ae97
