## Base16 Equilibrium Dark
# Author: Carlo Abelli
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0c1118
set $base01 #181c22
set $base02 #22262d
set $base03 #7b776e
set $base04 #949088
set $base05 #afaba2
set $base06 #cac6bd
set $base07 #e7e2d9
set $base08 #f04339
set $base09 #df5923
set $base0A #bb8801
set $base0B #7f8b00
set $base0C #00948b
set $base0D #008dd1
set $base0E #6a7fd2
set $base0F #e3488e
