## Base16 Kissa Macchiato
# Scheme author: rwendell (https://github.com/rwendell/kissa)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1f1c16
set $base01 #35322d
set $base02 #47443f
set $base03 #b8a48c
set $base04 #d4c4a8
set $base05 #faf0e6
set $base06 #e8d5b7
set $base07 #fef4e4
set $base08 #e87777
set $base09 #da9050
set $base0A #eac67a
set $base0B #8cb870
set $base0C #6ab8b0
set $base0D #7fa8d4
set $base0E #b094cc
set $base0F #cc88aa
