## Base16 Katy
# Scheme author: George Essig (https://github.com/gessig)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #292d3e
set $base01 #444267
set $base02 #5c598b
set $base03 #676e95
set $base04 #8796b0
set $base05 #959dcb
set $base06 #959dcb
set $base07 #ffffff
set $base08 #6e98e1
set $base09 #f78c6c
set $base0A #e0a557
set $base0B #78c06e
set $base0C #83b7e5
set $base0D #82aaff
set $base0E #c792ea
set $base0F #ff5370
