## Base16 Porple
# Author: Niek den Breeje (https://github.com/AuditeMarlow)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #292c36
set $base01 #333344
set $base02 #474160
set $base03 #65568a
set $base04 #b8b8b8
set $base05 #d8d8d8
set $base06 #e8e8e8
set $base07 #f8f8f8
set $base08 #f84547
set $base09 #d28e5d
set $base0A #efa16b
set $base0B #95c76f
set $base0C #64878f
set $base0D #8485ce
set $base0E #b74989
set $base0F #986841
