## Base16 lime
# Scheme author: limelier
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1a1a2f
set $base01 #202030
set $base02 #2a2a3f
set $base03 #313140
set $base04 #515155
set $base05 #818175
set $base06 #fff2d1
set $base07 #fff8e1
set $base08 #ff662a
set $base09 #ff773a
set $base0A #ffd15e
set $base0B #8cd97c
set $base0C #4cad83
set $base0D #2b926f
set $base0E #1b825f
set $base0F #b4d97c
