## Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #00002a
set $base01 #20204a
set $base02 #30305a
set $base03 #50507a
set $base04 #b0b0da
set $base05 #d0d0fa
set $base06 #e0e0ff
set $base07 #f5f5ff
set $base08 #ff4242
set $base09 #fc8d28
set $base0A #f3e877
set $base0B #59f176
set $base0C #0ef0f0
set $base0D #66b0ff
set $base0E #f10596
set $base0F #f003ef
