## Base16 Black Metal (Mayhem)
# Author: metalelf0 (https://github.com/metalelf0)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #121212
set $base02 #222222
set $base03 #333333
set $base04 #999999
set $base05 #c1c1c1
set $base06 #999999
set $base07 #c1c1c1
set $base08 #5f8787
set $base09 #aaaaaa
set $base0A #eecc6c
set $base0B #f3ecd4
set $base0C #aaaaaa
set $base0D #888888
set $base0E #999999
set $base0F #444444
