## Base16 Summerfruit Dark
# Author: Christopher Corley (http://christop.club/)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #151515
set $base01 #202020
set $base02 #303030
set $base03 #505050
set $base04 #B0B0B0
set $base05 #D0D0D0
set $base06 #E0E0E0
set $base07 #FFFFFF
set $base08 #FF0086
set $base09 #FD8900
set $base0A #ABA800
set $base0B #00C918
set $base0C #1FAAAA
set $base0D #3777E6
set $base0E #AD00A1
set $base0F #CC6633
