## Base16 DanQing Light
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fcfefd
set $base01 #ecf6f2
set $base02 #e0f0ef
set $base03 #cad8d2
set $base04 #9da8a3
set $base05 #5a605d
set $base06 #434846
set $base07 #2d302f
set $base08 #f9906f
set $base09 #b38a61
set $base0A #f0c239
set $base0B #8ab361
set $base0C #30dff3
set $base0D #b0a4e3
set $base0E #cca4e3
set $base0F #ca6924
