## Base16 Valua
# Scheme author: Nonetrix (https://github.com/nonetrix)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #131f1f
set $base01 #213132
set $base02 #273d3c
set $base03 #3e5c53
set $base04 #6d9877
set $base05 #98c1a3
set $base06 #a5cbb9
set $base07 #aacbcb
set $base08 #d7586e
set $base09 #e6b466
set $base0A #dfe754
set $base0B #59d678
set $base0C #76dbd2
set $base0D #4ed2d2
set $base0E #a874e0
set $base0F #c05a8f
