## Base16 Bosque
# Scheme author: Teshre
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0e1410
set $base01 #16211a
set $base02 #1e3023
set $base03 #5c6e5e
set $base04 #96aa98
set $base05 #cfe5d2
set $base06 #daebda
set $base07 #e4f0e2
set $base08 #e2706a
set $base09 #7dc97a
set $base0A #c8b84a
set $base0B #6fc56e
set $base0C #5fd0b8
set $base0D #6dae9e
set $base0E #b894d0
set $base0F #35503e
