## Base16 Deep Oceanic Next
# Scheme author: spearkkk (https://github.com/spearkkk/deep-oceanic-next)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #003b46
set $base01 #004f5e
set $base02 #006374
set $base03 #007a8a
set $base04 #0093a3
set $base05 #dce3e8
set $base06 #e6ebf0
set $base07 #f0f5f5
set $base08 #e6454b
set $base09 #ff6a4b
set $base0A #ffcc66
set $base0B #85b57a
set $base0C #4da6a6
set $base0D #3a82e6
set $base0E #8c4de6
set $base0F #e673a3
