## Base16 Terracotta
# Scheme author: Alexander Rossell Hayes (https://github.com/rossellhayes)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #efeae8
set $base01 #dfd6d1
set $base02 #d0c1bb
set $base03 #c0aca4
set $base04 #59453d
set $base05 #473731
set $base06 #352a25
set $base07 #241c19
set $base08 #a75045
set $base09 #bd6942
set $base0A #ce943e
set $base0B #7a894a
set $base0C #847f9e
set $base0D #625574
set $base0E #8d5968
set $base0F #b07158
