## Base16 Atelier Sulphurpool Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f5f7ff
set $base01 #dfe2f1
set $base02 #979db4
set $base03 #898ea4
set $base04 #6b7394
set $base05 #5e6687
set $base06 #293256
set $base07 #202746
set $base08 #c94922
set $base09 #c76b29
set $base0A #c08b30
set $base0B #ac9739
set $base0C #22a2c9
set $base0D #3d8fd1
set $base0E #6679cc
set $base0F #9c637a
