## Base16 Horizon Terminal Light
# Scheme author: Michaël Ball (http://github.com/michael-ball/)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fdf0ed
set $base01 #fadad1
set $base02 #f9cbbe
set $base03 #bdb3b1
set $base04 #948c8a
set $base05 #403c3d
set $base06 #302c2d
set $base07 #201c1d
set $base08 #e95678
set $base09 #f9cec3
set $base0A #fadad1
set $base0B #29d398
set $base0C #59e1e3
set $base0D #26bbd9
set $base0E #ee64ac
set $base0F #f9cbbe
