## Base16 Stella
# Author: Shrimpram
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2b213c
set $base01 #362b48
set $base02 #4d4160
set $base03 #655978
set $base04 #7f7192
set $base05 #998bad
set $base06 #b4a5c8
set $base07 #ebdcff
set $base08 #c79987
set $base09 #8865c6
set $base0A #c7c691
set $base0B #acc79b
set $base0C #9bc7bf
set $base0D #a5aad4
set $base0E #c594ff
set $base0F #c7ab87
