## Base16 Catppuccin Mocha
# Scheme author: https://github.com/catppuccin/catppuccin
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1e1e2e
set $base01 #313244
set $base02 #45475a
set $base03 #6c7086
set $base04 #a6adc8
set $base05 #cdd6f4
set $base06 #f5e0dc
set $base07 #b4befe
set $base08 #f38ba8
set $base09 #fab387
set $base0A #f9e2af
set $base0B #a6e3a1
set $base0C #94e2d5
set $base0D #89b4fa
set $base0E #cba6f7
set $base0F #f2cdcd
