## Base16 selenized-dark
# Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #103c48
set $base01 #184956
set $base02 #2d5b69
set $base03 #72898f
set $base04 #72898f
set $base05 #adbcbc
set $base06 #cad8d9
set $base07 #cad8d9
set $base08 #fa5750
set $base09 #ed8649
set $base0A #dbb32d
set $base0B #75b938
set $base0C #41c7b9
set $base0D #4695f7
set $base0E #af88eb
set $base0F #f275be
