## Base16 Atelier Cave
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #19171c
set $base01 #26232a
set $base02 #585260
set $base03 #655f6d
set $base04 #7e7887
set $base05 #8b8792
set $base06 #e2dfe7
set $base07 #efecf4
set $base08 #be4678
set $base09 #aa573c
set $base0A #a06e3b
set $base0B #2a9292
set $base0C #398bc6
set $base0D #576ddb
set $base0E #955ae7
set $base0F #bf40bf
