## Base16 Jabuti
# Scheme author: https://github.com/notusknot
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #292a37
set $base01 #343545
set $base02 #3c3e51
set $base03 #45475d
set $base04 #50526b
set $base05 #c0cbe3
set $base06 #d9e0ee
set $base07 #ffffff
set $base08 #ec6a88
set $base09 #efb993
set $base0A #e1c697
set $base0B #3fdaa4
set $base0C #ff7eb6
set $base0D #3fc6de
set $base0E #be95ff
set $base0F #8b8da9
