## Base16 Atelier Plateau Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f4ecec
set $base01 #e7dfdf
set $base02 #8a8585
set $base03 #7e7777
set $base04 #655d5d
set $base05 #585050
set $base06 #292424
set $base07 #1b1818
set $base08 #ca4949
set $base09 #b45a3c
set $base0A #a06e3b
set $base0B #4b8b8b
set $base0C #5485b6
set $base0D #7272ca
set $base0E #8464c4
set $base0F #bd5187
