## Base16 Rosé Pine
# Scheme author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #191724
set $base01 #1f1d2e
set $base02 #26233a
set $base03 #6e6a86
set $base04 #908caa
set $base05 #e0def4
set $base06 #e0def4
set $base07 #524f67
set $base08 #eb6f92
set $base09 #f6c177
set $base0A #ebbcba
set $base0B #31748f
set $base0C #9ccfd8
set $base0D #c4a7e7
set $base0E #f6c177
set $base0F #524f67
