## Base16 Tomorrow
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #ffffff
set $base01 #e0e0e0
set $base02 #d6d6d6
set $base03 #8e908c
set $base04 #969896
set $base05 #4d4d4c
set $base06 #282a2e
set $base07 #1d1f21
set $base08 #c82829
set $base09 #f5871f
set $base0A #eab700
set $base0B #718c00
set $base0C #3e999f
set $base0D #4271ae
set $base0E #8959a8
set $base0F #a3685a
