## Base16 Vesper
# Scheme author: FormalSnake (https://github.com/formalsnake)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #101010
set $base01 #232323
set $base02 #222222
set $base03 #333333
set $base04 #999999
set $base05 #b7b7b7
set $base06 #c1c1c1
set $base07 #d5d5d5
set $base08 #de6e6e
set $base09 #dab083
set $base0A #ffc799
set $base0B #5f8787
set $base0C #60a592
set $base0D #8eaaaa
set $base0E #d69094
set $base0F #876c4f
