## Base16 Arroz con Dulce
# Scheme author: Richard Martinez
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fff8e7
set $base01 #f7ebd3
set $base02 #ead6b8
set $base03 #c8a77a
set $base04 #765b45
set $base05 #4a2c20
set $base06 #321c14
set $base07 #21110b
set $base08 #a11d48
set $base09 #a3470a
set $base0A #855500
set $base0B #a2380c
set $base0C #98263e
set $base0D #5940a0
set $base0E #8c1f68
set $base0F #653221
