## Base16 Material Lighter
# Scheme author: Nate Peterson
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fafafa
set $base01 #e7eaec
set $base02 #cceae7
set $base03 #ccd7da
set $base04 #8796b0
set $base05 #80cbc4
set $base06 #80cbc4
set $base07 #ffffff
set $base08 #ff5370
set $base09 #f76d47
set $base0A #ffb62c
set $base0B #91b859
set $base0C #39adb5
set $base0D #6182b8
set $base0E #7c4dff
set $base0F #e53935
