## Base16 Brewer
# Author: Timothée Poisot (http://github.com/tpoisot)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0c0d0e
set $base01 #2e2f30
set $base02 #515253
set $base03 #737475
set $base04 #959697
set $base05 #b7b8b9
set $base06 #dadbdc
set $base07 #fcfdfe
set $base08 #e31a1c
set $base09 #e6550d
set $base0A #dca060
set $base0B #31a354
set $base0C #80b1d3
set $base0D #3182bd
set $base0E #756bb1
set $base0F #b15928
