## Base16 Darktooth
# Scheme author: Jason Milkins (https://github.com/jasonm23)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1d2021
set $base01 #32302f
set $base02 #504945
set $base03 #665c54
set $base04 #928374
set $base05 #a89984
set $base06 #d5c4a1
set $base07 #fdf4c1
set $base08 #fb543f
set $base09 #fe8625
set $base0A #fac03b
set $base0B #95c085
set $base0C #8ba59b
set $base0D #0d6678
set $base0E #8f4673
set $base0F #a87322
