## Base16 Mellow Purple
# Author: gidsi
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1e0528
set $base01 #1A092D
set $base02 #331354
set $base03 #320f55
set $base04 #873582
set $base05 #ffeeff
set $base06 #ffeeff
set $base07 #f8c0ff
set $base08 #00d9e9
set $base09 #aa00a3
set $base0A #955ae7
set $base0B #05cb0d
set $base0C #b900b1
set $base0D #550068
set $base0E #8991bb
set $base0F #4d6fff
