## Base16 Snazzy
# Author: Chawye Hsu (https://github.com/h404bi) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #282a36
set $base01 #34353e
set $base02 #43454f
set $base03 #78787e
set $base04 #a5a5a9
set $base05 #e2e4e5
set $base06 #eff0eb
set $base07 #f1f1f0
set $base08 #ff5c57
set $base09 #ff9f43
set $base0A #f3f99d
set $base0B #5af78e
set $base0C #9aedfe
set $base0D #57c7ff
set $base0E #ff6ac1
set $base0F #b2643c
