## Base16 Chalk
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #151515
set $base01 #202020
set $base02 #303030
set $base03 #505050
set $base04 #b0b0b0
set $base05 #d0d0d0
set $base06 #e0e0e0
set $base07 #f5f5f5
set $base08 #fb9fb1
set $base09 #eda987
set $base0A #ddb26f
set $base0B #acc267
set $base0C #12cfc0
set $base0D #6fc2ef
set $base0E #e1a3ee
set $base0F #deaf8f
