## Base16 Rosé Pine
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #191724
set $base01 #1f1d2e
set $base02 #26233a
set $base03 #555169
set $base04 #6e6a86
set $base05 #e0def4
set $base06 #f0f0f3
set $base07 #c5c3ce
set $base08 #e2e1e7
set $base09 #eb6f92
set $base0A #f6c177
set $base0B #ebbcba
set $base0C #31748f
set $base0D #9ccfd8
set $base0E #c4a7e7
set $base0F #e5e5e5
