## Base16 Kissa Latte
# Scheme author: rwendell (https://github.com/rwendell/kissa)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f5f4f0
set $base01 #e8e7e3
set $base02 #d5d2cb
set $base03 #91887d
set $base04 #746c62
set $base05 #1f1c16
set $base06 #6e6459
set $base07 #fefcfa
set $base08 #9e3e3e
set $base09 #8f5d22
set $base0A #7d6820
set $base0B #387050
set $base0C #287070
set $base0D #3468a8
set $base0E #6438a0
set $base0F #943a68
