## Base16 Brogrammer
# Author: Vik Ramanujam (http://github.com/piggyslasher)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1f1f1f
set $base01 #f81118
set $base02 #2dc55e
set $base03 #ecba0f
set $base04 #2a84d2
set $base05 #4e5ab7
set $base06 #1081d6
set $base07 #d6dbe5
set $base08 #d6dbe5
set $base09 #de352e
set $base0A #1dd361
set $base0B #f3bd09
set $base0C #1081d6
set $base0D #5350b9
set $base0E #0f7ddb
set $base0F #ffffff
