## Base16 Heetch Light
# Author: Geoffrey Teale (tealeg@gmail.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #feffff
set $base01 #392551
set $base02 #7b6d8b
set $base03 #9c92a8
set $base04 #ddd6e5
set $base05 #5a496e
set $base06 #470546
set $base07 #190134
set $base08 #27d9d5
set $base09 #bdb6c5
set $base0A #5ba2b6
set $base0B #f80059
set $base0C #c33678
set $base0D #47f9f5
set $base0E #bd0152
set $base0F #dedae2
