## Base16 Material
# Author: Nate Peterson
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #263238
set $base01 #2E3C43
set $base02 #314549
set $base03 #546E7A
set $base04 #B2CCD6
set $base05 #EEFFFF
set $base06 #EEFFFF
set $base07 #FFFFFF
set $base08 #F07178
set $base09 #F78C6C
set $base0A #FFCB6B
set $base0B #C3E88D
set $base0C #89DDFF
set $base0D #82AAFF
set $base0E #C792EA
set $base0F #FF5370
