## Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #190134
set $base01 #392551
set $base02 #5A496E
set $base03 #7B6D8B
set $base04 #9C92A8
set $base05 #BDB6C5
set $base06 #DEDAE2
set $base07 #FEFFFF
set $base08 #27D9D5
set $base09 #5BA2B6
set $base0A #8F6C97
set $base0B #C33678
set $base0C #F80059
set $base0D #BD0152
set $base0E #82034C
set $base0F #470546
