## Base16 Sequoia Retro Dark
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0f1014
set $base01 #111216
set $base02 #111216
set $base03 #43444d
set $base04 #575861
set $base05 #868690
set $base06 #868690
set $base07 #0f1014
set $base08 #829fa7
set $base09 #829fa7
set $base0A #da674b
set $base0B #648f68
set $base0C #a27e57
set $base0D #5c87a4
set $base0E #da674b
set $base0F #648f68
