## Base16 Serendipity Morning
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f6f7fb
set $base01 #eaebee
set $base02 #eaebee
set $base03 #6d7296
set $base04 #505575
set $base05 #3f4363
set $base06 #3f4363
set $base07 #f6f7fb
set $base08 #c25a4d
set $base09 #c25a4d
set $base0A #785fd0
set $base0B #2f7aab
set $base0C #e58678
set $base0D #6288d8
set $base0E #785fd0
set $base0F #2f7aab
