## Base16 Digital Rain
# Scheme author: Nathan Byrd (https://github.com/cognitivegears)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #4a806c
set $base02 #4a8d7e
set $base03 #7c8d7c
set $base04 #919893
set $base05 #00ff00
set $base06 #c4cec4
set $base07 #d8e2dc
set $base08 #c85a46
set $base09 #c86428
set $base0A #a67a50
set $base0B #64c83c
set $base0C #468c78
set $base0D #5482af
set $base0E #9472b4
set $base0F #b37c5e
