## Base16 Nord
# Author: arcticicestudio
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2e3440
set $base01 #3b4252
set $base02 #434c5e
set $base03 #4c566a
set $base04 #d8dee9
set $base05 #e5e9f0
set $base06 #eceff4
set $base07 #8fbcbb
set $base08 #bf616a
set $base09 #d08770
set $base0A #ebcb8b
set $base0B #a3be8c
set $base0C #88c0d0
set $base0D #81a1c1
set $base0E #b48ead
set $base0F #5e81ac
