## Base16 Atelier Heath
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1b181b
set $base01 #292329
set $base02 #695d69
set $base03 #776977
set $base04 #9e8f9e
set $base05 #ab9bab
set $base06 #d8cad8
set $base07 #f7f3f7
set $base08 #ca402b
set $base09 #a65926
set $base0A #bb8a35
set $base0B #918b3b
set $base0C #159393
set $base0D #516aec
set $base0E #7b59c0
set $base0F #cc33cc
