## Base16 Chinoiserie Morandi
# Scheme author: Di Wang (https://cs.cmu.edu/~diw3)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1d1d1d
set $base01 #282828
set $base02 #373737
set $base03 #918072
set $base04 #bdaead
set $base05 #c4cbcf
set $base06 #eee7f2
set $base07 #fffef9
set $base08 #c06061
set $base09 #ff937f
set $base0A #e5bc84
set $base0B #8ca07b
set $base0C #5e8c9b
set $base0D #839ec9
set $base0E #98a1d8
set $base0F #d9cdb4
