## Base16 Paraiso
# Author: Jan T. Sott
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2f1e2e
set $base01 #41323f
set $base02 #4f424c
set $base03 #776e71
set $base04 #8d8687
set $base05 #a39e9b
set $base06 #b9b6b0
set $base07 #e7e9db
set $base08 #ef6155
set $base09 #f99b15
set $base0A #fec418
set $base0B #48b685
set $base0C #5bc4bf
set $base0D #06b6ef
set $base0E #815ba4
set $base0F #e96ba8
