## Base16 Nova
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #3c4c55
set $base01 #556873
set $base02 #6a7d89
set $base03 #899ba6
set $base04 #899ba6
set $base05 #c5d4dd
set $base06 #899ba6
set $base07 #556873
set $base08 #83afe5
set $base09 #7fc1ca
set $base0A #a8ce93
set $base0B #7fc1ca
set $base0C #f2c38f
set $base0D #83afe5
set $base0E #9a93e1
set $base0F #f2c38f
