## Base16 tender
# Author: Jacobo Tabernero (https://github/com/jacoborus/tender.vim)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #282828
set $base01 #383838
set $base02 #484848
set $base03 #4c4c4c
set $base04 #b8b8b8
set $base05 #eeeeee
set $base06 #e8e8e8
set $base07 #feffff
set $base08 #f43753
set $base09 #dc9656
set $base0A #ffc24b
set $base0B #c9d05c
set $base0C #73cef4
set $base0D #b3deef
set $base0E #d3b987
set $base0F #a16946
