## Base16 Papel
# Scheme author: Teshre
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f5efe2
set $base01 #8e8576
set $base02 #e0d0ac
set $base03 #9a8c76
set $base04 #6a5d4b
set $base05 #3a2e20
set $base06 #958b7c
set $base07 #efe8d8
set $base08 #c0392b
set $base09 #c25c1f
set $base0A #a8761a
set $base0B #5e7a28
set $base0C #2a8a7a
set $base0D #2c6ca0
set $base0E #9b4d8e
set $base0F #6e6353
