## Base16 Da One White
# Scheme author: NNB (https://github.com/NNBnh)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #ffffff
set $base01 #c8c8c8
set $base02 #888888
set $base03 #585858
set $base04 #282828
set $base05 #181818
set $base06 #000000
set $base07 #000000
set $base08 #de5d6e
set $base09 #ff9470
set $base0A #b3684f
set $base0B #76a85d
set $base0C #64b5a7
set $base0D #5890f8
set $base0E #c173d1
set $base0F #b3684f
