## Base16 Edge Dark
# Author: cjayross (https://github.com/cjayross)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #262729
set $base01 #88909f
set $base02 #b7bec9
set $base03 #3e4249
set $base04 #73b3e7
set $base05 #b7bec9
set $base06 #d390e7
set $base07 #3e4249
set $base08 #e77171
set $base09 #e77171
set $base0A #dbb774
set $base0B #a1bf78
set $base0C #5ebaa5
set $base0D #73b3e7
set $base0E #d390e7
set $base0F #5ebaa5
