## Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #00002A
set $base01 #20204A
set $base02 #30305A
set $base03 #50507A
set $base04 #B0B0DA
set $base05 #D0D0FA
set $base06 #E0E0FF
set $base07 #F5F5FF
set $base08 #FF4242
set $base09 #FC8D28
set $base0A #F3E877
set $base0B #59F176
set $base0C #0EF0F0
set $base0D #66B0FF
set $base0E #F10596
set $base0F #F003EF
