## Base16 Ocote
# Scheme author: Teshre
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #14100c
set $base01 #211b13
set $base02 #3a2e1c
set $base03 #6b6253
set $base04 #a99f8d
set $base05 #e7dcc6
set $base06 #f1e9d9
set $base07 #faf6ec
set $base08 #e8635a
set $base09 #e8843a
set $base0A #e8b43a
set $base0B #7dc97a
set $base0C #6dd8c8
set $base0D #82a6e0
set $base0E #c58ae0
set $base0F #4a3e2c
