## Base16 Bespin
# Author: Jan T. Sott
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #28211c
set $base01 #36312e
set $base02 #5e5d5c
set $base03 #666666
set $base04 #797977
set $base05 #8a8986
set $base06 #9d9b97
set $base07 #baae9e
set $base08 #cf6a4c
set $base09 #cf7d34
set $base0A #f9ee98
set $base0B #54be0d
set $base0C #afc4db
set $base0D #5ea6ea
set $base0E #9b859d
set $base0F #937121
