## Base16 Green Screen
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #001100
set $base01 #003300
set $base02 #005500
set $base03 #007700
set $base04 #009900
set $base05 #00bb00
set $base06 #00dd00
set $base07 #00ff00
set $base08 #007700
set $base09 #009900
set $base0A #007700
set $base0B #00bb00
set $base0C #005500
set $base0D #009900
set $base0E #00bb00
set $base0F #005500
