## Base16 Pico
# Author: PICO-8 (http://www.lexaloffle.com/pico-8.php)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #1d2b53
set $base02 #7e2553
set $base03 #008751
set $base04 #ab5236
set $base05 #5f574f
set $base06 #c2c3c7
set $base07 #fff1e8
set $base08 #ff004d
set $base09 #ffa300
set $base0A #fff024
set $base0B #00e756
set $base0C #29adff
set $base0D #83769c
set $base0E #ff77a8
set $base0F #ffccaa
