## Base16 Primer Dark
# Author: Jimmy Lin
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #010409
set $base01 #21262d
set $base02 #30363d
set $base03 #484f58
set $base04 #8b949e
set $base05 #b1bac4
set $base06 #c9d1d9
set $base07 #f0f6fc
set $base08 #ff7b72
set $base09 #f0883e
set $base0A #d29922
set $base0B #3fb950
set $base0C #a5d6ff
set $base0D #58a6ff
set $base0E #f778ba
set $base0F #bd561d
