## Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #282B35
set $base01 #3D4048
set $base02 #53555D
set $base03 #686A71
set $base04 #7E8086
set $base05 #939599
set $base06 #A9AAAE
set $base07 #BEBFC2
set $base08 #B21889
set $base09 #786DC5
set $base0A #438288
set $base0B #DF0002
set $base0C #00A0BE
set $base0D #790EAD
set $base0E #B21889
set $base0F #C77C48
