## Base16 iA Light
# Author: iA Inc. (modified by aramisgithub)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f6f6f6
set $base01 #dedede
set $base02 #bde5f2
set $base03 #898989
set $base04 #767676
set $base05 #181818
set $base06 #e8e8e8
set $base07 #f8f8f8
set $base08 #9c5a02
set $base09 #c43e18
set $base0A #c48218
set $base0B #38781c
set $base0C #2d6bb1
set $base0D #48bac2
set $base0E #a94598
set $base0F #8b6c37
