## Base16 Equilibrium Gray Dark
# Author: Carlo Abelli
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #111111
set $base01 #1b1b1b
set $base02 #262626
set $base03 #777777
set $base04 #919191
set $base05 #ababab
set $base06 #c6c6c6
set $base07 #e2e2e2
set $base08 #f04339
set $base09 #df5923
set $base0A #bb8801
set $base0B #7f8b00
set $base0C #00948b
set $base0D #008dd1
set $base0E #6a7fd2
set $base0F #e3488e
