## Base16 Tokyo Night Dark
# Author: Michaël Ball
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1a1b26
set $base01 #16161e
set $base02 #2f3549
set $base03 #444b6a
set $base04 #787c99
set $base05 #a9b1d6
set $base06 #cbccd1
set $base07 #d5d6db
set $base08 #c0caf5
set $base09 #a9b1d6
set $base0A #0db9d7
set $base0B #9ece6a
set $base0C #b4f9f8
set $base0D #2ac3de
set $base0E #bb9af7
set $base0F #f7768e
