## Base16 Windows 10 Light
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f2f2f2
set $base01 #e5e5e5
set $base02 #d9d9d9
set $base03 #cccccc
set $base04 #ababab
set $base05 #767676
set $base06 #414141
set $base07 #0c0c0c
set $base08 #c50f1f
set $base09 #f9f1a5
set $base0A #c19c00
set $base0B #13a10e
set $base0C #3a96dd
set $base0D #0037da
set $base0E #881798
set $base0F #16c60c
