## Base16 Icy Dark
# Author: icyphox (https://icyphox.ga)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #021012
set $base01 #031619
set $base02 #041f23
set $base03 #052e34
set $base04 #064048
set $base05 #095b67
set $base06 #0c7c8c
set $base07 #109cb0
set $base08 #16c1d9
set $base09 #b3ebf2
set $base0A #80deea
set $base0B #4dd0e1
set $base0C #26c6da
set $base0D #00bcd4
set $base0E #00acc1
set $base0F #0097a7
