## Base16 Monokai
# Author: Wimer Hazenberg (http://www.monokai.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #272822
set $base01 #383830
set $base02 #49483e
set $base03 #75715e
set $base04 #a59f85
set $base05 #f8f8f2
set $base06 #f5f4f1
set $base07 #f9f8f5
set $base08 #f92672
set $base09 #fd971f
set $base0A #f4bf75
set $base0B #a6e22e
set $base0C #a1efe4
set $base0D #66d9ef
set $base0E #ae81ff
set $base0F #cc6633
