## Base16 Rosé Pine Dawn
# Scheme author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #faf4ed
set $base01 #fffaf3
set $base02 #f2e9de
set $base03 #9893a5
set $base04 #6e6a86
set $base05 #575279
set $base06 #555169
set $base07 #26233a
set $base08 #1f1d2e
set $base09 #b4637a
set $base0A #ea9d34
set $base0B #d7827e
set $base0C #286983
set $base0D #56949f
set $base0E #907aa9
set $base0F #c5c3ce
