## Base16 Tinta
# Scheme author: Teshre
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #101012
set $base01 #202023
set $base02 #2c2c30
set $base03 #62626a
set $base04 #9d9c9d
set $base05 #d8d6d0
set $base06 #e3e1db
set $base07 #eeece6
set $base08 #d0726a
set $base09 #e8843a
set $base0A #c8b86a
set $base0B #9aa890
set $base0C #80b8b4
set $base0D #8a9ab0
set $base0E #b0a0b8
set $base0F #4a4a50
