## Base16 Humanoid light
# Author: Thomas (tasmo) Friese
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f8f8f2
set $base01 #efefe9
set $base02 #deded8
set $base03 #c0c0bd
set $base04 #60615d
set $base05 #232629
set $base06 #2f3337
set $base07 #070708
set $base08 #b0151a
set $base09 #ff3d00
set $base0A #ffb627
set $base0B #388e3c
set $base0C #008e8e
set $base0D #0082c9
set $base0E #700f98
set $base0F #b27701
