## Base16 Windows NT
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #2a2a2a
set $base02 #555555
set $base03 #808080
set $base04 #a1a1a1
set $base05 #c0c0c0
set $base06 #e0e0e0
set $base07 #ffffff
set $base08 #ff0000
set $base09 #808000
set $base0A #ffff00
set $base0B #00ff00
set $base0C #00ffff
set $base0D #0000ff
set $base0E #ff00ff
set $base0F #008000
