## Base16 Sparky
# Scheme author: Leila Sother (https://github.com/mixcoac)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #072b31
set $base01 #00313c
set $base02 #003c46
set $base03 #003b49
set $base04 #00778b
set $base05 #f4f5f0
set $base06 #f5f5f1
set $base07 #ffffff
set $base08 #ff585d
set $base09 #ff8f1c
set $base0A #fbdd40
set $base0B #78d64b
set $base0C #2dccd3
set $base0D #4698cb
set $base0E #d59ed7
set $base0F #9b704d
