## Base16 eris
# Scheme author: ed (https://codeberg.org/ed), Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0a0920
set $base01 #13133a
set $base02 #23255a
set $base03 #333773
set $base04 #4a5293
set $base05 #606bac
set $base06 #7986c5
set $base07 #9aaae5
set $base08 #f768a3
set $base09 #f78968
set $base0A #f7d668
set $base0B #a2faa8
set $base0C #a2faf0
set $base0D #258fc4
set $base0E #c368f7
set $base0F #b85600
