## Base16 Oxocarbon Dark
# Scheme author: shaunsingh/IBM, Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #161616
set $base01 #262626
set $base02 #393939
set $base03 #525252
set $base04 #dde1e6
set $base05 #f2f4f8
set $base06 #ffffff
set $base07 #08bdba
set $base08 #ee5396
set $base09 #ff7eb6
set $base0A #ff6f00
set $base0B #42be65
set $base0C #3ddbd9
set $base0D #33b1ff
set $base0E #be95ff
set $base0F #82cfff
