## Base16 ShadeSmear Dark
# Author: Kyle Giammarco (http://kyle.giammar.co)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #232323
set $base01 #1c1c1c
set $base02 #4e4e4e
set $base03 #c0c0c0
set $base04 #e4e4e4
set $base05 #dbdbdb
set $base06 #e4e4e4
set $base07 #1c1c1c
set $base08 #cc5450
set $base09 #a64270
set $base0A #307878
set $base0B #71983b
set $base0C #c57d42
set $base0D #376388
set $base0E #d7ab54
set $base0F #6d6d6d
