## Base16 Windows High Contrast Light
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fcfcfc
set $base01 #e8e8e8
set $base02 #d4d4d4
set $base03 #c0c0c0
set $base04 #7e7e7e
set $base05 #545454
set $base06 #2a2a2a
set $base07 #000000
set $base08 #800000
set $base09 #fcfc54
set $base0A #808000
set $base0B #008000
set $base0C #008080
set $base0D #000080
set $base0E #800080
set $base0F #54fc54
