## Base16 selenized-light
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fbf3db
set $base01 #ece3cc
set $base02 #d5cdb6
set $base03 #909995
set $base04 #909995
set $base05 #53676d
set $base06 #3a4d53
set $base07 #3a4d53
set $base08 #cc1729
set $base09 #bc5819
set $base0A #a78300
set $base0B #428b00
set $base0C #00978a
set $base0D #006dce
set $base0E #825dc0
set $base0F #c44392
