## Base16 ShadeSmear Light
# Scheme author: Kyle Giammarco (http://kyle.giammar.co)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #dbdbdb
set $base01 #e4e4e4
set $base02 #c0c0c0
set $base03 #4e4e4e
set $base04 #1c1c1c
set $base05 #232323
set $base06 #1c1c1c
set $base07 #e4e4e4
set $base08 #cc5450
set $base09 #a64270
set $base0A #307878
set $base0B #71983b
set $base0C #c57d42
set $base0D #376388
set $base0E #d7ab54
set $base0F #6d6d6d
