## Base16 Moonlight
# Scheme author: Jeremy Swinarton (https://github.com/jswinarton)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #212337
set $base01 #403c64
set $base02 #596399
set $base03 #748cd6
set $base04 #a1abe0
set $base05 #a3ace1
set $base06 #b4a4f4
set $base07 #ef43fa
set $base08 #ff5370
set $base09 #f67f81
set $base0A #ffc777
set $base0B #2df4c0
set $base0C #04d1f9
set $base0D #40ffff
set $base0E #b994f1
set $base0F #ecb2f0
