## Base16 PaperColor Light
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #eeeeee
set $base01 #af0000
set $base02 #008700
set $base03 #5f8700
set $base04 #0087af
set $base05 #878787
set $base06 #005f87
set $base07 #444444
set $base08 #bcbcbc
set $base09 #d70000
set $base0A #d70087
set $base0B #8700af
set $base0C #d75f00
set $base0D #d75f00
set $base0E #005faf
set $base0F #005f87
