## Base16 Bright
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #303030
set $base02 #505050
set $base03 #b0b0b0
set $base04 #d0d0d0
set $base05 #e0e0e0
set $base06 #f5f5f5
set $base07 #ffffff
set $base08 #fb0120
set $base09 #fc6d24
set $base0A #fda331
set $base0B #a1c659
set $base0C #76c7b7
set $base0D #6fb3d2
set $base0E #d381c3
set $base0F #be643c
