## Base16 Atelier Forest Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f1efee
set $base01 #e6e2e0
set $base02 #a8a19f
set $base03 #9c9491
set $base04 #766e6b
set $base05 #68615e
set $base06 #2c2421
set $base07 #1b1918
set $base08 #f22c40
set $base09 #df5320
set $base0A #c38418
set $base0B #7b9726
set $base0C #3d97b8
set $base0D #407ee7
set $base0E #6666ea
set $base0F #c33ff3
