## Base16 Primer Dark Dimmed
# Author: Jimmy Lin
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1c2128
set $base01 #373e47
set $base02 #444c56
set $base03 #545d68
set $base04 #768390
set $base05 #909dab
set $base06 #adbac7
set $base07 #cdd9e5
set $base08 #f47067
set $base09 #e0823d
set $base0A #c69026
set $base0B #57ab5a
set $base0C #96d0ff
set $base0D #539bf5
set $base0E #e275ad
set $base0F #ae5622
