## Base16 Catppuccin Macchiato
# Scheme author: https://github.com/catppuccin/catppuccin
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #24273a
set $base01 #1e2030
set $base02 #363a4f
set $base03 #494d64
set $base04 #5b6078
set $base05 #cad3f5
set $base06 #f4dbd6
set $base07 #b7bdf8
set $base08 #ed8796
set $base09 #f5a97f
set $base0A #eed49f
set $base0B #a6da95
set $base0C #8bd5ca
set $base0D #8aadf4
set $base0E #c6a0f6
set $base0F #f0c6c6
