## Base16 Dracula
# Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #282936
set $base01 #3a3c4e
set $base02 #4d4f68
set $base03 #626483
set $base04 #62d6e8
set $base05 #e9e9f4
set $base06 #f1f2f8
set $base07 #f7f7fb
set $base08 #ea51b2
set $base09 #b45bcf
set $base0A #00f769
set $base0B #ebff87
set $base0C #a1efe4
set $base0D #62d6e8
set $base0E #b45bcf
set $base0F #00f769
