## Base16 Tomorrow Night
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2d2d2d
set $base01 #393939
set $base02 #515151
set $base03 #999999
set $base04 #b4b7b4
set $base05 #cccccc
set $base06 #e0e0e0
set $base07 #ffffff
set $base08 #f2777a
set $base09 #f99157
set $base0A #ffcc66
set $base0B #99cc99
set $base0C #66cccc
set $base0D #6699cc
set $base0E #cc99cc
set $base0F #a3685a
