## Base16 Shapeshifter
# Author: Tyler Benziger (http://tybenz.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f9f9f9
set $base01 #e0e0e0
set $base02 #ababab
set $base03 #555555
set $base04 #343434
set $base05 #102015
set $base06 #040404
set $base07 #000000
set $base08 #e92f2f
set $base09 #e09448
set $base0A #dddd13
set $base0B #0ed839
set $base0C #23edda
set $base0D #3b48e3
set $base0E #f996e2
set $base0F #69542d
