## Base16 Everforest
# Scheme author: Sainnhe Park (https://github.com/sainnhe)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2d353b
set $base01 #343f44
set $base02 #475258
set $base03 #859289
set $base04 #9da9a0
set $base05 #d3c6aa
set $base06 #e6e2cc
set $base07 #fdf6e3
set $base08 #e67e80
set $base09 #e69875
set $base0A #dbbc7f
set $base0B #a7c080
set $base0C #83c092
set $base0D #7fbbb3
set $base0E #d699b6
set $base0F #9da9a0
