## Base16 Fruit Soda
# Author: jozip
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f1ecf1
set $base01 #e0dee0
set $base02 #d8d5d5
set $base03 #b5b4b6
set $base04 #979598
set $base05 #515151
set $base06 #474545
set $base07 #2d2c2c
set $base08 #fe3e31
set $base09 #fe6d08
set $base0A #f7e203
set $base0B #47f74c
set $base0C #0f9cfd
set $base0D #2931df
set $base0E #611fce
set $base0F #b16f40
