## Base16 darkmoss
# Author: Gabriel Avanzi (https://github.com/avanzzzi)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #171e1f
set $base01 #252c2d
set $base02 #373c3d
set $base03 #555e5f
set $base04 #818f80
set $base05 #c7c7a5
set $base06 #e3e3c8
set $base07 #e1eaef
set $base08 #ff4658
set $base09 #e6db74
set $base0A #fdb11f
set $base0B #499180
set $base0C #66d9ef
set $base0D #498091
set $base0E #9bc0c8
set $base0F #d27b53
