## Base16 Gigavolt
# Author: Aidan Swope (http://github.com/Whillikers)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #202126
set $base01 #2d303d
set $base02 #5a576e
set $base03 #a1d2e6
set $base04 #cad3ff
set $base05 #e9e7e1
set $base06 #eff0f9
set $base07 #f2fbff
set $base08 #ff661a
set $base09 #19f988
set $base0A #ffdc2d
set $base0B #f2e6a9
set $base0C #fb6acb
set $base0D #40bfff
set $base0E #ae94f9
set $base0F #6187ff
