## Base16 Classic Dark
# Author: Jason Heeris (http://heeris.id.au)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #151515
set $base01 #202020
set $base02 #303030
set $base03 #505050
set $base04 #B0B0B0
set $base05 #D0D0D0
set $base06 #E0E0E0
set $base07 #F5F5F5
set $base08 #AC4142
set $base09 #D28445
set $base0A #F4BF75
set $base0B #90A959
set $base0C #75B5AA
set $base0D #6A9FB5
set $base0E #AA759F
set $base0F #8F5536
