## Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #190134
set $base01 #392551
set $base02 #5a496e
set $base03 #7b6d8b
set $base04 #9c92a8
set $base05 #bdb6c5
set $base06 #dedae2
set $base07 #feffff
set $base08 #27d9d5
set $base09 #5ba2b6
set $base0A #8f6c97
set $base0B #c33678
set $base0C #f80059
set $base0D #bd0152
set $base0E #82034c
set $base0F #470546
