## Base16 Eldritch
# Scheme author: https://github.com/eldritch-theme
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #212337
set $base01 #323449
set $base02 #3b4261
set $base03 #7081d0
set $base04 #a1abe0
set $base05 #ebfafa
set $base06 #f0f2f4
set $base07 #ffffff
set $base08 #f16c75
set $base09 #f7c67f
set $base0A #f1fc79
set $base0B #37f499
set $base0C #04d1f9
set $base0D #39ddfd
set $base0E #a48cf2
set $base0F #f265b5
