## Base16 Unikitty Light
# Author: Josh W Lewis (@joshwlewis)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #ffffff
set $base01 #e1e1e2
set $base02 #c4c3c5
set $base03 #a7a5a8
set $base04 #89878b
set $base05 #6c696e
set $base06 #4f4b51
set $base07 #322d34
set $base08 #d8137f
set $base09 #d65407
set $base0A #dc8a0e
set $base0B #17ad98
set $base0C #149bda
set $base0D #775dff
set $base0E #aa17e6
set $base0F #e013d0
