## Base16 UwUnicorn
# Scheme author: Fernando Marques (https://github.com/RakkiUwU) and Gabriel Fontes (https://github.com/Misterio77)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #241b26
set $base01 #2f2a3f
set $base02 #46354a
set $base03 #6c3cb2
set $base04 #7e5f83
set $base05 #eed5d9
set $base06 #d9c2c6
set $base07 #e4ccd0
set $base08 #877bb6
set $base09 #de5b44
set $base0A #a84a73
set $base0B #c965bf
set $base0C #9c5fce
set $base0D #6a9eb5
set $base0E #78a38f
set $base0F #a3a079
