## Base16 Zenbones
# Author: mcchrish
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #191919
set $base01 #de6e7c
set $base02 #819b69
set $base03 #b77e64
set $base04 #6099c0
set $base05 #b279a7
set $base06 #66a5ad
set $base07 #bbbbbb
set $base08 #3d3839
set $base09 #e8838f
set $base0A #8bae68
set $base0B #d68c67
set $base0C #61abda
set $base0D #cf86c1
set $base0E #65b8c1
set $base0F #8e8e8e
