## Base16 Atelier Lakeside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #ebf8ff
set $base01 #c1e4f6
set $base02 #7ea2b4
set $base03 #7195a8
set $base04 #5a7b8c
set $base05 #516d7b
set $base06 #1f292e
set $base07 #161b1d
set $base08 #d22d72
set $base09 #935c25
set $base0A #8a8a0f
set $base0B #568c3b
set $base0C #2d8f6f
set $base0D #257fad
set $base0E #6b6bb8
set $base0F #b72dd2
