## Base16 Colors
# Author: mrmrs (http://clrs.cc)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #111111
set $base01 #333333
set $base02 #555555
set $base03 #777777
set $base04 #999999
set $base05 #bbbbbb
set $base06 #dddddd
set $base07 #ffffff
set $base08 #ff4136
set $base09 #ff851b
set $base0A #ffdc00
set $base0B #2ecc40
set $base0C #7fdbff
set $base0D #0074d9
set $base0E #b10dc9
set $base0F #85144b
