## Base16 OneDark
# Author: Lalit Magant (http://github.com/tilal6991)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #282c34
set $base01 #353b45
set $base02 #3e4451
set $base03 #545862
set $base04 #565c64
set $base05 #abb2bf
set $base06 #b6bdca
set $base07 #c8ccd4
set $base08 #e06c75
set $base09 #d19a66
set $base0A #e5c07b
set $base0B #98c379
set $base0C #56b6c2
set $base0D #61afef
set $base0E #c678dd
set $base0F #be5046
