## Base16 Gotham
# Author: Andrea Leopardi (arranged by Brett Jones)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0c1014
set $base01 #11151c
set $base02 #091f2e
set $base03 #0a3749
set $base04 #245361
set $base05 #599cab
set $base06 #99d1ce
set $base07 #d3ebe9
set $base08 #c23127
set $base09 #d26937
set $base0A #edb443
set $base0B #33859e
set $base0C #2aa889
set $base0D #195466
set $base0E #888ca6
set $base0F #4e5166
