## Base16 Precious Light Warm
# Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fff5e5
set $base01 #ece4d6
set $base02 #d9d3c8
set $base03 #7f8080
set $base04 #5d6065
set $base05 #4e5359
set $base06 #4e5359
set $base07 #4e5359
set $base08 #b14745
set $base09 #a25600
set $base0A #876500
set $base0B #557300
set $base0C #0e7767
set $base0D #246da5
set $base0E #7a50c6
set $base0F #a83f92
