## Base16 Kanagawa Dragon
# Scheme author: Tommaso Laurenzi (https://github.com/rebelot)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0d0c0c
set $base01 #1d1c19
set $base02 #282727
set $base03 #737c73
set $base04 #a6a69c
set $base05 #c5c9c5
set $base06 #7a8382
set $base07 #c5c9c5
set $base08 #c4746e
set $base09 #b98d7b
set $base0A #c4b28a
set $base0B #87a987
set $base0C #8ea4a2
set $base0D #8ba4b0
set $base0E #8992a7
set $base0F #a292a3
