## Base16 Mocha
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #3B3228
set $base01 #534636
set $base02 #645240
set $base03 #7e705a
set $base04 #b8afad
set $base05 #d0c8c6
set $base06 #e9e1dd
set $base07 #f5eeeb
set $base08 #cb6077
set $base09 #d28b71
set $base0A #f4bc87
set $base0B #beb55b
set $base0C #7bbda4
set $base0D #8ab3b5
set $base0E #a89bb9
set $base0F #bb9584
