## Base16 Harmonic16 Dark
# Author: Jannik Siebert (https://github.com/janniks)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0b1c2c
set $base01 #223b54
set $base02 #405c79
set $base03 #627e99
set $base04 #aabcce
set $base05 #cbd6e2
set $base06 #e5ebf1
set $base07 #f7f9fb
set $base08 #bf8b56
set $base09 #bfbf56
set $base0A #8bbf56
set $base0B #56bf8b
set $base0C #568bbf
set $base0D #8b56bf
set $base0E #bf568b
set $base0F #bf5656
