## Base16 Material Vivid
# Author: joshyrobot
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #263238
set $base01 #37474F
set $base02 #455A64
set $base03 #546E7A
set $base04 #90A4AE
set $base05 #B0BEC5
set $base06 #CFD8DC
set $base07 #ECEFF1
set $base08 #FF1744
set $base09 #FF9100
set $base0A #FFC400
set $base0B #00E676
set $base0C #00B0FF
set $base0D #2979FF
set $base0E #651FFF
set $base0F #8D6E63
