## Base16 3024
# Author: Jan T. Sott (http://github.com/idleberg)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #090300
set $base01 #3a3432
set $base02 #4a4543
set $base03 #5c5855
set $base04 #807d7c
set $base05 #a5a2a2
set $base06 #d6d5d4
set $base07 #f7f7f7
set $base08 #db2d20
set $base09 #e8bbd0
set $base0A #fded02
set $base0B #01a252
set $base0C #b5e4f4
set $base0D #01a0e4
set $base0E #a16a94
set $base0F #cdab53
