## Base16 Tokyo Night Terminal Dark
# Author: Michaël Ball
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #16161e
set $base01 #1a1b26
set $base02 #2f3549
set $base03 #444b6a
set $base04 #787c99
set $base05 #787c99
set $base06 #cbccd1
set $base07 #d5d6db
set $base08 #f7768e
set $base09 #ff9e64
set $base0A #e0af68
set $base0B #41a6b5
set $base0C #7dcfff
set $base0D #7aa2f7
set $base0E #bb9af7
set $base0F #d18616
