## Base16 Horizon Terminal Dark
# Scheme author: Michaël Ball (http://github.com/michael-ball/)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1c1e26
set $base01 #232530
set $base02 #2e303e
set $base03 #6f6f70
set $base04 #9da0a2
set $base05 #cbced0
set $base06 #dcdfe4
set $base07 #e3e6ee
set $base08 #e95678
set $base09 #fab795
set $base0A #fac29a
set $base0B #29d398
set $base0C #59e1e3
set $base0D #26bbd9
set $base0E #ee64ac
set $base0F #f09383
