## Base16 Still Alive
# Scheme author: Derrick McKee (derrick.mckee@gmail.com)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f0f0f0
set $base01 #f0d848
set $base02 #fff018
set $base03 #f01818
set $base04 #f00000
set $base05 #d80000
set $base06 #489000
set $base07 #30a860
set $base08 #487830
set $base09 #183048
set $base0A #426395
set $base0B #5c5c6a
set $base0C #2c3c57
set $base0D #001878
set $base0E #900000
set $base0F #140c0d
