## Base16 Primer Light
# Author: Jimmy Lin
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fafbfc
set $base01 #e1e4e8
set $base02 #d1d5da
set $base03 #959da5
set $base04 #444d56
set $base05 #2f363d
set $base06 #24292e
set $base07 #1b1f23
set $base08 #d73a49
set $base09 #f66a0a
set $base0A #ffd33d
set $base0B #28a745
set $base0C #79b8ff
set $base0D #0366d6
set $base0E #ea4aaa
set $base0F #a04100
