## Base16 Materia
# Author: Defman21
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #263238
set $base01 #2C393F
set $base02 #37474F
set $base03 #707880
set $base04 #C9CCD3
set $base05 #CDD3DE
set $base06 #D5DBE5
set $base07 #FFFFFF
set $base08 #EC5F67
set $base09 #EA9560
set $base0A #FFCC00
set $base0B #8BD649
set $base0C #80CBC4
set $base0D #89DDFF
set $base0E #82AAFF
set $base0F #EC5F67
