## Base16 Atelier Estuary
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #22221b
set $base01 #302f27
set $base02 #5f5e4e
set $base03 #6c6b5a
set $base04 #878573
set $base05 #929181
set $base06 #e7e6df
set $base07 #f4f3ec
set $base08 #ba6236
set $base09 #ae7313
set $base0A #a5980d
set $base0B #7d9726
set $base0C #5b9d48
set $base0D #36a166
set $base0E #5f9182
set $base0F #9d6c7c
