## Base16 SAGA
# Scheme author: https://github.com/SAGAtheme/SAGA
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #05080a
set $base01 #0a1014
set $base02 #0f181e
set $base03 #141f27
set $base04 #192630
set $base05 #dce2f7
set $base06 #f8eae7
set $base07 #ccd3fe
set $base08 #ffd4e9
set $base09 #fbcbae
set $base0A #fbebc8
set $base0B #f7ddff
set $base0C #c5edc1
set $base0D #c9fff7
set $base0E #dcc3f9
set $base0F #f6dddd
