## Base16 Ashes
# Author: Jannik Siebert (https://github.com/janniks)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1c2023
set $base01 #393f45
set $base02 #565e65
set $base03 #747c84
set $base04 #adb3ba
set $base05 #c7ccd1
set $base06 #dfe2e5
set $base07 #f3f4f5
set $base08 #c7ae95
set $base09 #c7c795
set $base0A #aec795
set $base0B #95c7ae
set $base0C #95aec7
set $base0D #ae95c7
set $base0E #c795ae
set $base0F #c79595
