## Base16 Everforest
# Author: Sainnhe Park (https://github.com/sainnhe)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2f383e
set $base01 #374247
set $base02 #4a555b
set $base03 #859289
set $base04 #9da9a0
set $base05 #d3c6aa
set $base06 #e4e1cd
set $base07 #fdf6e3
set $base08 #7fbbb3
set $base09 #d699b6
set $base0A #dbbc7f
set $base0B #83c092
set $base0C #e69875
set $base0D #a7c080
set $base0E #e67e80
set $base0F #eaedc8
