## Base16 Cupcake
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fbf1f2
set $base01 #f2f1f4
set $base02 #d8d5dd
set $base03 #bfb9c6
set $base04 #a59daf
set $base05 #8b8198
set $base06 #72677E
set $base07 #585062
set $base08 #D57E85
set $base09 #EBB790
set $base0A #DCB16C
set $base0B #A3B367
set $base0C #69A9A7
set $base0D #7297B9
set $base0E #BB99B4
set $base0F #BAA58C
