## Base16 Zenburn
# Author: elnawe
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #383838
set $base01 #404040
set $base02 #606060
set $base03 #6f6f6f
set $base04 #808080
set $base05 #dcdccc
set $base06 #c0c0c0
set $base07 #ffffff
set $base08 #dca3a3
set $base09 #dfaf8f
set $base0A #e0cf9f
set $base0B #5f7f5f
set $base0C #93e0e3
set $base0D #7cb8bb
set $base0E #dc8cc3
set $base0F #000000
