## Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #16130f
set $base01 #2c2620
set $base02 #433b32
set $base03 #5a5047
set $base04 #8a8075
set $base05 #a39a90
set $base06 #beb6ae
set $base07 #dbd6d1
set $base08 #826d57
set $base09 #828257
set $base0A #6d8257
set $base0B #57826d
set $base0C #576d82
set $base0D #6d5782
set $base0E #82576d
set $base0F #825757
