## Base16 Madrid
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fafafa
set $base01 #eaeaea
set $base02 #dfdfdf
set $base03 #4d4d4d
set $base04 #686868
set $base05 #1a1a1a
set $base06 #121212
set $base07 #1a1a1a
set $base08 #990026
set $base09 #923217
set $base0A #8a6408
set $base0B #007a28
set $base0C #007a9e
set $base0D #007a9e
set $base0E #4d2699
set $base0F #662310
