## Base16 Flat
# Scheme author: Chris Kempson (http://chriskempson.com)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2c3e50
set $base01 #34495e
set $base02 #7f8c8d
set $base03 #95a5a6
set $base04 #bdc3c7
set $base05 #e0e0e0
set $base06 #f5f5f5
set $base07 #ecf0f1
set $base08 #e74c3c
set $base09 #e67e22
set $base0A #f1c40f
set $base0B #2ecc71
set $base0C #1abc9c
set $base0D #3498db
set $base0E #9b59b6
set $base0F #be643c
