## Base16 Sandcastle
# Author: George Essig (https://github.com/gessig)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #282c34
set $base01 #2c323b
set $base02 #3e4451
set $base03 #665c54
set $base04 #928374
set $base05 #a89984
set $base06 #d5c4a1
set $base07 #fdf4c1
set $base08 #83a598
set $base09 #a07e3b
set $base0A #a07e3b
set $base0B #528b8b
set $base0C #83a598
set $base0D #83a598
set $base0E #d75f5f
set $base0F #a87322
