## Base16 Swamp Dark
# Scheme author: Masroof Maindak (https://github.com/masroof-maindak)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #242015
set $base01 #3a3124
set $base02 #4d3f32
set $base03 #5f4e41
set $base04 #b8a58c
set $base05 #d2c3a4
set $base06 #ebe0bb
set $base07 #f1e9d0
set $base08 #db930d
set $base09 #ebe0bb
set $base0A #a82d56
set $base0B #7a7653
set $base0C #db930d
set $base0D #c1666b
set $base0E #91506c
set $base0F #61a0a8
