## Base16 Google Light
# Author: Seth Wright (http://sethawright.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #ffffff
set $base01 #e0e0e0
set $base02 #c5c8c6
set $base03 #b4b7b4
set $base04 #969896
set $base05 #373b41
set $base06 #282a2e
set $base07 #1d1f21
set $base08 #CC342B
set $base09 #F96A38
set $base0A #FBA922
set $base0B #198844
set $base0C #3971ED
set $base0D #3971ED
set $base0E #A36AC7
set $base0F #3971ED
