## Base16 Isotope
# Author: Jan T. Sott
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #404040
set $base02 #606060
set $base03 #808080
set $base04 #c0c0c0
set $base05 #d0d0d0
set $base06 #e0e0e0
set $base07 #ffffff
set $base08 #ff0000
set $base09 #ff9900
set $base0A #ff0099
set $base0B #33ff00
set $base0C #00ffff
set $base0D #0066ff
set $base0E #cc00ff
set $base0F #3300ff
