## Base16 Sakura
# Author: Misterio77 (http://github.com/Misterio77)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #feedf3
set $base01 #f8e2e7
set $base02 #e0ccd1
set $base03 #755f64
set $base04 #665055
set $base05 #564448
set $base06 #42383a
set $base07 #33292b
set $base08 #df2d52
set $base09 #f6661e
set $base0A #c29461
set $base0B #2e916d
set $base0C #1d8991
set $base0D #006e93
set $base0E #5e2180
set $base0F #ba0d35
