## Base16 PhD
# Author: Hennig Hasemann (http://leetless.de/vim.html)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #061229
set $base01 #2a3448
set $base02 #4d5666
set $base03 #717885
set $base04 #9a99a3
set $base05 #b8bbc2
set $base06 #dbdde0
set $base07 #ffffff
set $base08 #d07346
set $base09 #f0a000
set $base0A #fbd461
set $base0B #99bf52
set $base0C #72b9bf
set $base0D #5299bf
set $base0E #9989cc
set $base0F #b08060
