## Base16 Synth Midnight Terminal Dark
# Author: Michaël Ball (http://github.com/michael-ball/)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #050608
set $base01 #1a1b1c
set $base02 #28292a
set $base03 #474849
set $base04 #a3a5a6
set $base05 #c1c3c4
set $base06 #cfd1d2
set $base07 #dddfe0
set $base08 #b53b50
set $base09 #ea770d
set $base0A #c9d364
set $base0B #06ea61
set $base0C #42fff9
set $base0D #03aeff
set $base0E #ea5ce2
set $base0F #cd6320
