## Base16 Swamp Light
# Scheme author: Masroof Maindak (https://github.com/masroof-maindak)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f1e3d1
set $base01 #ddcebc
set $base02 #c9b9a7
set $base03 #b5a492
set $base04 #a0907d
set $base05 #64513e
set $base06 #786653
set $base07 #8c7b68
set $base08 #d09700
set $base09 #64513e
set $base0A #993333
set $base0B #908d6a
set $base0C #d09700
set $base0D #bf7979
set $base0E #9e5581
set $base0F #75858c
