## Base16 Eva Dim
# Author: kjakapat (https://github.com/kjakapat)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2a3b4d
set $base01 #3d566f
set $base02 #4b6988
set $base03 #55799c
set $base04 #7e90a3
set $base05 #9fa2a6
set $base06 #d6d7d9
set $base07 #ffffff
set $base08 #c4676c
set $base09 #ff9966
set $base0A #cfd05d
set $base0B #5de561
set $base0C #4b8f77
set $base0D #1ae1dc
set $base0E #9c6cd3
set $base0F #bb64a9
