## Base16 Atelier Savanna
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #171c19
set $base01 #232a25
set $base02 #526057
set $base03 #5f6d64
set $base04 #78877d
set $base05 #87928a
set $base06 #dfe7e2
set $base07 #ecf4ee
set $base08 #b16139
set $base09 #9f713c
set $base0A #a07e3b
set $base0B #489963
set $base0C #1c9aa0
set $base0D #478c90
set $base0E #55859b
set $base0F #867469
