## Base16 London Tube
# Author: Jan T. Sott
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #231f20
set $base01 #1c3f95
set $base02 #5a5758
set $base03 #737171
set $base04 #959ca1
set $base05 #d9d8d8
set $base06 #e7e7e8
set $base07 #ffffff
set $base08 #ee2e24
set $base09 #f386a1
set $base0A #ffd204
set $base0B #00853e
set $base0C #85cebc
set $base0D #009ddc
set $base0E #98005d
set $base0F #b06110
