## Base16 Grayscale Dark
# Author: Alexandre Gavioli (https://github.com/Alexx2/)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #101010
set $base01 #252525
set $base02 #464646
set $base03 #525252
set $base04 #ababab
set $base05 #b9b9b9
set $base06 #e3e3e3
set $base07 #f7f7f7
set $base08 #7c7c7c
set $base09 #999999
set $base0A #a0a0a0
set $base0B #8e8e8e
set $base0C #868686
set $base0D #686868
set $base0E #747474
set $base0F #5e5e5e
