## Base16 Apprentice
# Scheme author: romainl
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #262626
set $base01 #af5f5f
set $base02 #5f875f
set $base03 #87875f
set $base04 #5f87af
set $base05 #5f5f87
set $base06 #5f8787
set $base07 #6c6c6c
set $base08 #444444
set $base09 #ff8700
set $base0A #87af87
set $base0B #ffffaf
set $base0C #87afd7
set $base0D #8787af
set $base0E #5fafaf
set $base0F #bcbcbc
