## Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #282b35
set $base01 #3d4048
set $base02 #53555d
set $base03 #686a71
set $base04 #7e8086
set $base05 #939599
set $base06 #a9aaae
set $base07 #bebfc2
set $base08 #b21889
set $base09 #786dc5
set $base0A #438288
set $base0B #df0002
set $base0C #00a0be
set $base0D #790ead
set $base0E #b21889
set $base0F #c77c48
