## Base16 Cerulean Signal Dark
# Scheme author: Aaron Colichia (https://aaron.colichia.org/)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #101722
set $base01 #131c29
set $base02 #173a5a
set $base03 #8fa0b5
set $base04 #aab8ca
set $base05 #dce6f2
set $base06 #f1f6fc
set $base07 #f7f9fc
set $base08 #ff8a9a
set $base09 #f5a35c
set $base0A #e2c85f
set $base0B #70e1b0
set $base0C #58d9df
set $base0D #7dd3ff
set $base0E #ff74d4
set $base0F #d59b7d
