## Base16 Edge Light
# Author: cjayross (https://github.com/cjayross)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fafafa
set $base01 #7c9f4b
set $base02 #d69822
set $base03 #5e646f
set $base04 #6587bf
set $base05 #5e646f
set $base06 #b870ce
set $base07 #5e646f
set $base08 #db7070
set $base09 #db7070
set $base0A #d69822
set $base0B #7c9f4b
set $base0C #509c93
set $base0D #6587bf
set $base0E #b870ce
set $base0F #509c93
