## Base16 Windows 95 Light
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fcfcfc
set $base01 #e0e0e0
set $base02 #c4c4c4
set $base03 #a8a8a8
set $base04 #7e7e7e
set $base05 #545454
set $base06 #2a2a2a
set $base07 #000000
set $base08 #a80000
set $base09 #fcfc54
set $base0A #a85400
set $base0B #00a800
set $base0C #00a8a8
set $base0D #0000a8
set $base0E #a800a8
set $base0F #54fc54
