## Base16 Brush Trees
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #E3EFEF
set $base01 #C9DBDC
set $base02 #B0C5C8
set $base03 #98AFB5
set $base04 #8299A1
set $base05 #6D828E
set $base06 #5A6D7A
set $base07 #485867
set $base08 #b38686
set $base09 #d8bba2
set $base0A #aab386
set $base0B #87b386
set $base0C #86b3b3
set $base0D #868cb3
set $base0E #b386b2
set $base0F #b39f9f
