## Base16 Atelier Dune
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #20201d
set $base01 #292824
set $base02 #6e6b5e
set $base03 #7d7a68
set $base04 #999580
set $base05 #a6a28c
set $base06 #e8e4cf
set $base07 #fefbec
set $base08 #d73737
set $base09 #b65611
set $base0A #ae9513
set $base0B #60ac39
set $base0C #1fad83
set $base0D #6684e1
set $base0E #b854d4
set $base0F #d43552
