## Base16 Shades of Purple
# Author: Iolar Demartini Junior (http://github.com/demartini) based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1e1e3f
set $base01 #43d426
set $base02 #f1d000
set $base03 #808080
set $base04 #6871ff
set $base05 #c7c7c7
set $base06 #ff77ff
set $base07 #ffffff
set $base08 #d90429
set $base09 #f92a1c
set $base0A #ffe700
set $base0B #3ad900
set $base0C #00c5c7
set $base0D #6943ff
set $base0E #ff2c70
set $base0F #79e8fb
