## Base16 Pop
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #202020
set $base02 #303030
set $base03 #505050
set $base04 #b0b0b0
set $base05 #d0d0d0
set $base06 #e0e0e0
set $base07 #ffffff
set $base08 #eb008a
set $base09 #f29333
set $base0A #f8ca12
set $base0B #37b349
set $base0C #00aabb
set $base0D #0e5a94
set $base0E #b31e8d
set $base0F #7a2d00
