## Base16 Circus
# Author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #191919
set $base01 #202020
set $base02 #303030
set $base03 #5f5a60
set $base04 #505050
set $base05 #a7a7a7
set $base06 #808080
set $base07 #ffffff
set $base08 #dc657d
set $base09 #4bb1a7
set $base0A #c3ba63
set $base0B #84b97c
set $base0C #4bb1a7
set $base0D #639ee4
set $base0E #b888e2
set $base0F #b888e2
