## Base16 Ayu Light
# Scheme author: Tinted Theming (https://github.com/tinted-theming), Ayu Theme (https://github.com/ayu-theme)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f8f9fa
set $base01 #edeff1
set $base02 #d2d4d8
set $base03 #a0a6ac
set $base04 #8a9199
set $base05 #5c6166
set $base06 #4e5257
set $base07 #404447
set $base08 #f07171
set $base09 #fa8d3e
set $base0A #f2ae49
set $base0B #6cbf49
set $base0C #4cbf99
set $base0D #399ee6
set $base0E #a37acc
set $base0F #e6ba7e
