## Base16 Kanagawa
# Author: Tommaso Laurenzi (https://github.com/rebelot)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1f1f28
set $base01 #16161d
set $base02 #223249
set $base03 #54546d
set $base04 #727169
set $base05 #dcd7ba
set $base06 #c8c093
set $base07 #717c7c
set $base08 #c34043
set $base09 #ffa066
set $base0A #c0a36e
set $base0B #76946a
set $base0C #6a9589
set $base0D #7e9cd8
set $base0E #957fb8
set $base0F #d27e99
