## Base16 Material Lighter
# Author: Nate Peterson
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #FAFAFA
set $base01 #E7EAEC
set $base02 #CCEAE7
set $base03 #CCD7DA
set $base04 #8796B0
set $base05 #80CBC4
set $base06 #80CBC4
set $base07 #FFFFFF
set $base08 #FF5370
set $base09 #F76D47
set $base0A #FFB62C
set $base0B #91B859
set $base0C #39ADB5
set $base0D #6182B8
set $base0E #7C4DFF
set $base0F #E53935
