## Base16 vice
# Scheme author: Thomas Leon Highbaugh thighbaugh@zoho.com
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #17191e
set $base01 #22262d
set $base02 #3c3f4c
set $base03 #383a47
set $base04 #555e70
set $base05 #8b9cbe
set $base06 #b2bfd9
set $base07 #f4f4f7
set $base08 #ff29a8
set $base09 #85ffe0
set $base0A #f0ffaa
set $base0B #0badff
set $base0C #8265ff
set $base0D #00eaff
set $base0E #00f6d9
set $base0F #ff3d81

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
