## Base16 Solar Flare
# Author: Chuck Harmston (https://chuck.harmston.ch)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #18262F
set $base01 #222E38
set $base02 #586875
set $base03 #667581
set $base04 #85939E
set $base05 #A6AFB8
set $base06 #E8E9ED
set $base07 #F5F7FA
set $base08 #EF5253
set $base09 #E66B2B
set $base0A #E4B51C
set $base0B #7CC844
set $base0C #52CBB0
set $base0D #33B5E1
set $base0E #A363D5
set $base0F #D73C9A

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
