## Base16 IR Black
# Author: Timothée Poisot (http://timotheepoisot.fr)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #242422
set $base02 #484844
set $base03 #6c6c66
set $base04 #918f88
set $base05 #b5b3aa
set $base06 #d9d7cc
set $base07 #fdfbee
set $base08 #ff6c60
set $base09 #e9c062
set $base0A #ffffb6
set $base0B #a8ff60
set $base0C #c6c5fe
set $base0D #96cbfe
set $base0E #ff73fd
set $base0F #b18a3d

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0D
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
