## Base16 Harmonic16 Dark
# Author: Jannik Siebert (https://github.com/janniks)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0b1c2c
set $base01 #223b54
set $base02 #405c79
set $base03 #627e99
set $base04 #aabcce
set $base05 #cbd6e2
set $base06 #e5ebf1
set $base07 #f7f9fb
set $base08 #bf8b56
set $base09 #bfbf56
set $base0A #8bbf56
set $base0B #56bf8b
set $base0C #568bbf
set $base0D #8b56bf
set $base0E #bf568b
set $base0F #bf5656

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0D
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
