## Base16 Neovim Light
# Scheme author: https://github.com/neovim/neovim/blob/master/src/nvim/highlight_group.c
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #e0e2ea
set $base01 #eef1f8
set $base02 #9b9ea4
set $base03 #4f5258
set $base04 #2c2e33
set $base05 #14161b
set $base06 #07080d
set $base07 #07080d
set $base08 #590008
set $base09 #8b4513
set $base0A #6b5300
set $base0B #005523
set $base0C #007373
set $base0D #004c73
set $base0E #470045
set $base0F #a52a2a

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
