## Base16 Edge Light
# Author: cjayross (https://github.com/cjayross)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #fafafa
set $base01 #7c9f4b
set $base02 #d69822
set $base03 #5e646f
set $base04 #6587bf
set $base05 #5e646f
set $base06 #b870ce
set $base07 #5e646f
set $base08 #db7070
set $base09 #db7070
set $base0A #d69822
set $base0B #7c9f4b
set $base0C #509c93
set $base0D #6587bf
set $base0E #b870ce
set $base0F #509c93

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
