## Base16 Spaceduck
# Author: Guillermo Rodriguez (https://github.com/pineapplegiant), packaged by Gabriel Fontes (https://github.com/Misterio77)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #16172d
set $base01 #1b1c36
set $base02 #30365f
set $base03 #686f9a
set $base04 #818596
set $base05 #ecf0c1
set $base06 #c1c3cc
set $base07 #ffffff
set $base08 #e33400
set $base09 #e39400
set $base0A #f2ce00
set $base0B #5ccc96
set $base0C #00a3cc
set $base0D #7a5ccc
set $base0E #b3a1e6
set $base0F #ce6f8f

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
