## Base16 Atelier Forest Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #f1efee
set $base01 #e6e2e0
set $base02 #a8a19f
set $base03 #9c9491
set $base04 #766e6b
set $base05 #68615e
set $base06 #2c2421
set $base07 #1b1918
set $base08 #f22c40
set $base09 #df5320
set $base0A #c38418
set $base0B #7b9726
set $base0C #3d97b8
set $base0D #407ee7
set $base0E #6666ea
set $base0F #c33ff3

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0D
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
