## Base16 Tango
# Author: @Schnouki, based on the Tango Desktop Project
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2e3436
set $base01 #8ae234
set $base02 #fce94f
set $base03 #555753
set $base04 #729fcf
set $base05 #d3d7cf
set $base06 #ad7fa8
set $base07 #eeeeec
set $base08 #cc0000
set $base09 #ef2929
set $base0A #c4a000
set $base0B #4e9a06
set $base0C #06989a
set $base0D #3465a4
set $base0E #75507b
set $base0F #34e2e2

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
