## Base16 Darktooth
# Author: Jason Milkins (https://github.com/jasonm23)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1D2021
set $base01 #32302F
set $base02 #504945
set $base03 #665C54
set $base04 #928374
set $base05 #A89984
set $base06 #D5C4A1
set $base07 #FDF4C1
set $base08 #FB543F
set $base09 #FE8625
set $base0A #FAC03B
set $base0B #95C085
set $base0C #8BA59B
set $base0D #0D6678
set $base0E #8F4673
set $base0F #A87322

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0D
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
