## Base16 Digital Rain
# Scheme author: Nathan Byrd (https://github.com/cognitivegears)
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #000000
set $base01 #4a806c
set $base02 #4a8d7e
set $base03 #7c8d7c
set $base04 #919893
set $base05 #00ff00
set $base06 #c4cec4
set $base07 #d8e2dc
set $base08 #c85a46
set $base09 #c86428
set $base0A #a67a50
set $base0B #64c83c
set $base0C #468c78
set $base0D #5482af
set $base0E #9472b4
set $base0F #b37c5e

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
