## Base16 Cupertino
# Author: Defman21
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #ffffff
set $base01 #c0c0c0
set $base02 #c0c0c0
set $base03 #808080
set $base04 #808080
set $base05 #404040
set $base06 #404040
set $base07 #5e5e5e
set $base08 #c41a15
set $base09 #eb8500
set $base0A #826b28
set $base0B #007400
set $base0C #318495
set $base0D #0000ff
set $base0E #a90d91
set $base0F #826b28

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
