## Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #00002A
set $base01 #20204A
set $base02 #30305A
set $base03 #50507A
set $base04 #B0B0DA
set $base05 #D0D0FA
set $base06 #E0E0FF
set $base07 #F5F5FF
set $base08 #FF4242
set $base09 #FC8D28
set $base0A #F3E877
set $base0B #59F176
set $base0C #0EF0F0
set $base0D #66B0FF
set $base0E #F10596
set $base0F #F003EF

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
