## Base16 Woodland
# Author: Jay Cornwall (https://jcornwall.com)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #231e18
set $base01 #302b25
set $base02 #48413a
set $base03 #9d8b70
set $base04 #b4a490
set $base05 #cabcb1
set $base06 #d7c8bc
set $base07 #e4d4c8
set $base08 #d35c5c
set $base09 #ca7f32
set $base0A #e0ac16
set $base0B #b7ba53
set $base0C #6eb958
set $base0D #88a4d3
set $base0E #bb90e2
set $base0F #b49368

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0D
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
