## Base16 Atelier Estuary
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #22221b
set $base01 #302f27
set $base02 #5f5e4e
set $base03 #6c6b5a
set $base04 #878573
set $base05 #929181
set $base06 #e7e6df
set $base07 #f4f3ec
set $base08 #ba6236
set $base09 #ae7313
set $base0A #a5980d
set $base0B #7d9726
set $base0C #5b9d48
set $base0D #36a166
set $base0E #5f9182
set $base0F #9d6c7c

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
